<h2>Create your <%= @recipe.name %> recipe...</h2>

<form action="/recipes/<%= @recipe.id %>/ingredients" method="post">
  <div>
    <h2>Step One: Add Ingredients:</h2>

    <% if @recipe.ingredients.any?() %>
    <table>
      <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.ingredient() %></td>
        <td><form action="/recipes/<%= @recipe.id() %>/ingredients" method="post"><input name="_method" type="hidden" value="delete"><input name="ingredient_id" type="hidden" value="<%= ingredient.id %>"><button type="submit">Delete</button></form></td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <p>Please list only the ingredient and put the quantities in the instructions.</p>
  </div>
  <div class="form-group">
    <label for="ingredient1">Enter Ingredient</label>
    <input type="text" name="ingredient">
    <button type="submit">Add</button>
  </div>
</form>

<form action="/recipes/<%= @recipe.id %>/instructions" method="post">
  <div>
  <h2>Step Two: Add Instructions:</h2>
  <% if @recipe.instruction() %>
  <p><%= @recipe.instruction %></p>
  <button><a href="/recipes/<%= @recipe.id() %>/instructions/edit">Edit</a></button>
  <% end %>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="10" name="instruction" placeholder="Please, write out step-by-step instructions here, including quantities and measurements."></textarea>
  </div>
  <button type="submit" name="submit">Submit</button>
</form>

<div>
<h2>Step Three: Finish and View Recipe!</h2>
<button><a href='/recipes/<%= @recipe.id() %>/complete'>See My Recipe</a></button>
</div>
